@mixin verticalFlex {
  display: flex;
  flex-direction: column;
}

@mixin horizontalFlex {
  display: flex;
  flex-direction: row;
}

@mixin centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fullScreen {
  width: 100vw;
  height: 100vh;
}

@mixin backgroundImg($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin hoverEffect {
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}
