// Colors

$white: #fff;
$black: #000;

$text: #fbfbf2;
$accent: #847577;
$hover: #af9a9d;
$background: #E5E6E4;
$on-background: #a6a2a2;

// Font

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
$font-family: "Inter", sans-serif;
